
body {
    background-image: url("./background.png");
}

.dived {
    background-color: #202020;
    margin: 1%;
    padding: 1%;
    display: inline-block;
    min-width: 80%;
}

.outlined {
    border: 1px solid #aaaaaa;
}

.blued {
    color: #666fff;
}

.centered {
    text-align: center;
    display: inline-block;
    height: 100%;
}

.lefted-text {
    text-align: left;
}
