/*!
 * Many segments taken from (https://getbootstrap.com)
*/

body {
    background-color: #000000;
    color: #ffffff;
    text-align: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    margin: auto 0.5rem;
    padding: 0.4rem 0.1rem;
}

table {
    border-collapse: collapse;

    margin-left: auto; 
    margin-right: auto;
}

th {
    border: 1px solid #ffffff;
}

input {
    font-size: inherit;
}

.outlined {
    border: 1px solid #ffffff;
}

.navbar {
    background-color: #00000f;
    margin: 0rem 0rem 0rem 0rem;
    width: 100%;
    border-bottom: 4px solid #4f4f4f;
    height: 39px;
}

.navbar input {
    float: left;
    color: #808080;
    background-color: #00000f;
    border: none;
    box-sizing: content-box;
    height: 100%;
}

.navbar input:hover:enabled {
    color: #fbfbfb;
}

#mainMenu {
    color: #ffffff;
}